<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud Cost Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>CLOUD CONFIGURATION</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/recommend">Recommendations</a>
            <a href="/forecast">Cost Forecasting</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <br></br>
    <br></br> 
    <footer>
        <p>&copy; 2024 Cloud Cost Application. All rights reserved.</p>
    </footer>
</body>
</html>
